/*Discipline*/


.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid-wrapper > div > a> img {
    width: 100%;
    max-height: 8cm;
    /*height: 100%;*/
    object-fit: cover;
    border-radius: 50px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-auto-rows: 333px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

/*fin discipline*/






/*dis*/



.grid-wrapper_dis > div {
    display: flex;
    justify-content: center;
    align-items: center;

}
.dis {
    width: 100%;
    height: 100%;
    max-height: 333px;
    max-width: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper_dis {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    grid-auto-rows: 700px;
    grid-auto-flow: dense;
}
.grid-wrapper-dis .wide {
    grid-column: span 2;
}
.grid-wrapper_dis .tall {
    grid-row: span 2;
}
.grid-wrapper_dis .big {
    grid-column: span 2;
    grid-row: span 2;
}

/*fin dis*/